*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background: rgb(98, 28, 211);
}
.container{
    width: 100vh;
    max-height: 70vh;
    background-color: rgb(236, 236, 236);
    margin: 100px auto;
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px 20px 20px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.dropup button{
    position: absolute;
    left: 0px;
    top: 10px;
    width: 90px;
    font-size: 16px;
    padding: 10px;
    background-color: #faf3f3;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}
.dropup ul{
    list-style: none;
    min-width: 10px;
    position: absolute;
    left: 5px;
    top: 50px;
    font-size: 14px;
    line-height: 2;
    padding: 10px 10px;
    cursor: pointer;
    display: none;
}
.dropup ul li{
    border-bottom: 1px solid grey;
    text-align: left;
}
.dropup ul li:hover{
    background-color: aliceblue;
    transition: ease 0.5s;
}
.container h2{
    font-size: 36px;
    position: relative;
}
.container h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(23,124,229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
blockquote{
    font-size: 26px;
    padding-top: 50px;
}
blockquote::before,blockquote::after{
    content:'"';
}
span{
    display: block;
    float: right;
    margin-top: 60px;
    font-size: 14px;
    position: relative;
}
span::before{
    content: '';
    width: 20px;
    height: 1px;
    background-color: rgb(23,124,229);
    position: absolute;
    left: -30px;
    top: 50%;
}
.btn{
    width: 100%;
    margin-top: 120px;
    display: flex;
    justify-content: center;    
    gap: 10px;
}
.btn button{
    background-color: rgb(67, 133, 255);
    color: white;
    border-radius: 25px;
    border: 1px solid rgb(67, 133, 255);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
    gap: 10px;
}
.btn button img {
    width: 25px;
}
.btn button:nth-child(2){
    background:transparent;
    color: #333;
}